<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
  <title>Vapour Library</title>
  <style>
    .carousel-size {
      width: 300px;
      margin: auto;
    }
    .carousel-item {
      transition: transform 0.5s ease-in-out;
    }
    .card {
      width: 500px;
      margin: 5%;
    }
    #featured-BG {
      background-image: url('images/vapour.jpg');
      background-size: cover;
      background-position: center;
      height: 600px;
    }
    h1 {
      display: flex;
      justify-content: center;
      color: #8f2c48;
      background-color: black;
      font-family: 'Times New Roman', Times, serif;
    }
    .gameImageSize {
      width: 400px;
      height: 400px;
      margin: 20px;
    }
    .btn-primary {
      width: 75%;
      position: absolute;
      bottom: 10px;
      left: 50%;
      transform: translateX(-50%);
    }
  </style>
</head>

<body>
  <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">Vapour Library</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse d-flex justify-content-between" id="collapsibleNavbar">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="/home">Home</a>
          </li> 
          <li class="nav-item">
            <a class="nav-link" href="/vapourstore">Store</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/cart">Cart</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">
              More
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="/logout">Logout</a></li>
            </ul>
          </li>

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">
              Tag
            </a>
            <form id="tagSearchForm" action="/tagSearch" method="POST" style="display:none;">
              <input type="hidden" name="tag" id="tagInput">
            </form>

            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#" onclick="submitTag('Role-playing')">Role-playing</a></li>
              <li><a class="dropdown-item" href="#" onclick="submitTag('Action')">Action</a></li>
              <li><a class="dropdown-item" href="#" onclick="submitTag('RPG')">RPG</a></li>
              <li><a class="dropdown-item" href="#" onclick="submitTag('Strategy')">Strategy</a></li>
              <li><a class="dropdown-item" href="#" onclick="submitTag('Adventure')">Adventure</a></li>
              <li><a class="dropdown-item" href="#" onclick="submitTag('Other/Misc')">Other/Misc</a></li>
            </ul>
          </li>
          
          <% if (user.role === "admin") { %>
            <li class="nav-item">
              <a class="nav-link" href="/addGame">Add Game</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/admin">Admin Panel</a>
            </li>
          <% } %>
        </ul>     
        <form class="d-flex" role="search" action="/search" method="POST">
          <input class="form-control me-2" type="search" name="query" placeholder="Search" required />
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
      </div>
    </div>
  </nav>

  <section id="featured-BG" class="container-fluid">
    <h1>Featured</h1>
    <div class="row row-cols-1 row-cols-md-2 g-4">
      <div class="col d-flex justify-content-end">
        <div class="card h-100">
          <div class="carousel-size">
            <div id="carousel1" class="carousel slide" data-bs-ride="carousel">
              <div class="carousel-indicators">
                <button type="button" data-bs-target="#carousel1" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#carousel1" data-bs-slide-to="1" aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#carousel1" data-bs-slide-to="2" aria-label="Slide 3"></button>
              </div>
              <div class="carousel-inner">
                <div class="carousel-item active" data-bs-interval="10000">
                  <img src="<%= Games[0].image %>" class="d-block w-100" alt=<%= Games[0].title %>>
                </div>
                <div class="carousel-item" data-bs-interval="10000">
                  <img src="<%= Games[1].image %>" class="d-block w-100" alt=<%= Games[1].title %>>
                </div>
                <div class="carousel-item" data-bs-interval="10000">
                  <img src="<%= Games[2].image %>" class="d-block w-100" alt=<%= Games[2].title %>>
                </div>
              </div>
              <button class="carousel-control-prev" type="button" data-bs-target="#carousel1" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
              </button>
              <button class="carousel-control-next" type="button" data-bs-target="#carousel1" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
              </button>
            </div>
          </div>
        </div>
      </div>

      <div class="col">
        <div class="card h-100">
          <a class="btn btn-primary" href="#" role="button">Click here for more info</a>
          <div class="carousel-size">
            <div id="carousel2" class="carousel slide" data-bs-ride="carousel">
              <div class="carousel-inner">
                <div class="carousel-item active" data-bs-interval="10000">
                  <div>Description<br>Undertale is a 2015 role-playing video game created by American indie developer Toby Fox. The player controls a child who has fallen into the Underground: a large, secluded region under the surface of the Earth, separated by a magical barrier</div>
                </div>
                <div class="carousel-item" data-bs-interval="10000">
                  <div>Description<br>Outer Wilds is a 2019 action-adventure game developed by Mobius Digital and published by Annapurna Interactive. The game follows the player character as they explore a planetary system stuck in a 22-minute time loop that resets after the sun goes supernova and destroys the system.</div>
                </div>
                <div class="carousel-item" data-bs-interval="10000">
                  <div>Description<br>Kill Nam, the one who betrayed our glorious KIM JUNG UN</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section>
    <div class="container text-center">
      <div class="row"> 
        <div class="col-12">
          <br>
          <h1>All Games</h1>
        </div>
      </div>
      <% for (let i = 0; i < Games.length; i += 4) { %>
        <div class="row">
          <% for (let j = i; j < i + 4 && j < Games.length; j++) { %>
            <div class="col-3 d-flex justify-content-center **px-2 py-3**">
              <a href="/game/<%= encodeURIComponent(Games[j].title) %>?id=<%= Games[j].gameId %>">
                <img class="gameImageSize" src="<%= Games[j].image %>" alt="<%= Games[j].title %>">
              </a>
            </div>
          <% } %>
        </div>
        <div class="row">
          <% for (let j = i; j < i + 4 && j < Games.length; j++) { %>
            <div class="col-3 d-flex justify-content-center">
              <p><%= Games[j].title %></p>
            </div>
          <% } %>
        </div>
      <% } %>
    </div>
  </section>

  <script>
    document.addEventListener('DOMContentLoaded', function () {
      const carousel1 = document.querySelector('#carousel1');
      const carousel2 = document.querySelector('#carousel2');
      const linkButton = document.querySelector('.btn-primary');

      const carousel1Instance = new bootstrap.Carousel(carousel1);
      const carousel2Instance = new bootstrap.Carousel(carousel2);
      
      // UPDATE THIS PART TO LINK TO GAMES
      const bookLinks = [
        'harrypotter.html',
        'unbroken.html',
        'wonder.html'
      ];

      function updateLink(event) {
        linkButton.href = bookLinks[event.to];
      }

      function submitTag(tagName) {
        document.getElementById('tagInput').value = tagName;
        document.getElementById('tagSearchForm').submit();
      }

      carousel1.addEventListener('slide.bs.carousel', function (event) {
        carousel2Instance.to(event.to);
        updateLink(event);
      });

      carousel2.addEventListener('slide.bs.carousel', function (event) {
        carousel1Instance.to(event.to);
        updateLink(event);
      });

      // Set initial button link
      linkButton.href = bookLinks[0];
    });
  </script>
</body>
</html>
